html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.tabela {
    padding-top:50px;
    padding-bottom:50px;
}

.btnNovo{
    padding-top:50px;
    padding-bottom:50px;
}

.formulario {
    padding-top: 50px;
    padding-bottom: 50px;
}

.form {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.tabelaPrincipal {
    padding-top: 75px;
    
}

.estatisticas {
    padding-top: 50px;
}